
<div class="container">
    <h1>Notelify - Password Reset</h1>
    <form [formGroup]="forgetPwForm">

        <input formControlName="email" type="text" id="email" name="email" placeholder="email"><br>
        <span *ngIf="forgetPwForm.hasError('email', 'email')" style="color: red;">*E-mail is invalid</span>

        <button type="submit" style="margin-bottom: 1em;"  [disabled]="forgetPwForm.invalid" [class.disabled]="forgetPwForm.invalid" (click)="submit()">Submit</button><br>
        
    </form>
</div>
